
@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="~/css/dashboardApp.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</head>

<body>

    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper">
        <div class="parallax-bg" style="
          background-image: url(https://i.pinimg.com/originals/48/38/3a/48383acbb84f04841ac6ab7e40d33620.gif);
        " data-swiper-parallax="-23%"></div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="subtitle">
                    <a asp-area="Cliente" asp-controller="Home" asp-action="Index"><i class="bi bi-x-circle" style="font-size: 40px"></i></a>
                </div>
                <div class="title text-center" data-swiper-parallax="-300">Actividades Diarias</div>
                <hr />

                    <div class="col-sm-2">
                        <center><a asp-action="Index" asp-controller="PortalSuministrador" asp-area="Suministrador"><i class="bi bi-building"></i></a></center>

                        <p class="text-center">Portal Suministrador</p>

                    </div>

                    <div class="col-sm-2">
                        <center><a asp-action="Index" asp-controller="ProductoSuministrador" asp-area="Suministrador"><i class="bi bi-inboxes"></i></a></center>

                        <p class="text-center">Productos Suministros</p>

                    </div>

                    <div class="col-sm-2">
                        <center><a asp-action="Ordenes" asp-controller="ProductoSuministrador" asp-area="Suministrador"><i class="bi bi-layout-text-window-reverse"></i></a></center>

                        <p class="text-center">Pedidos (Suministros)</p>

                    </div>

                    <div class="col-sm-2">
                        <center><a asp-action="Index" asp-controller="ComprarProductoSuministrador" asp-area="Suministrador"><i class="bi bi-ticket-detailed"></i></a></center>

                        <p class="text-center">Compras (Suministros)</p>

                    </div>

                    <div class="col-sm-2">
                        <center><a asp-action="Index" asp-controller="InventarioMateriaPrima" asp-area="Inventario"><i class="bi bi-ui-checks-grid"></i></a></center>

                        <p class="text-center">Inventario (Materias Primas)</p>

                    </div>

                    <div class="col-sm-2">
                        <center><a asp-action="Index" asp-controller="Reservacion" asp-area="Cliente"><i class="bi bi-calendar2-week"></i></a></center>

                        <p class="text-center">Gestión de Reservas</p>

                    </div>

                    <div class="col-sm-12" style="margin-top: 2%">

                        <div class="col-sm-2">
                            <center><a asp-action="Index" asp-controller="ProductosParaVender" asp-area="Produccion"><i class="bi bi-bag-heart"></i></a></center>

                            <p class="text-center">Catálogo Productos</p>

                        </div>

                        <div class="col-sm-2">
                            <center><a asp-action="Index" asp-controller="" asp-area=""><i class="bi bi-minecart-loaded"></i></a></center>

                            <p class="text-center">Producción</p>

                        </div>
                        
                        <div class="col-sm-2">
                            <center><a asp-action="Index" asp-controller="" asp-area=""><i class="bi bi-box-seam"></i></a></center>

                            <p class="text-center">Inventario (Productos Terminados)</p>

                        </div>

                        <div class="col-sm-2">

                            <center><a asp-action="Index" asp-controller="" asp-area=""><i class="bi bi-person-hearts"></i></a></center>

                            <p class="text-center">Gestionar Pedidos Clientes</p>

                        </div>

                    </div>

            </div>

            <div class="swiper-slide">
                <div class="subtitle"><a asp-area="Cliente" asp-controller="Home" asp-action="Index"><i class="bi bi-x-circle" style="font-size: 40px"></i></a></div>
                <div class="title text-center" data-swiper-parallax="-300">Overview</div>
                <hr />
                
           

              
            </div>
            <div class="swiper-slide">
                <div class="title" data-swiper-parallax="-300">Slide 3</div>
                <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
                <div class="text" data-swiper-parallax="-100">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                        dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                        laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                        Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                        Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                        ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                        tincidunt ut libero. Aenean feugiat non eros quis feugiat.
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
          speed: 600,
          parallax: true,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
    </script>
    <script src="~/js/generic.js"></script>
</body>


