@model CompraProductoSuministradorDTO

@{

}

<div class="container">
    @using (Html.BeginForm("Comprar", "ComprarProductoSuministrador", FormMethod.Post, new { @style = "margin-top: 12%" }))
    {
        <div class="col-lg-4">
        </div>
    }
</div>